h1{color:blue};
body {
    background: #F0E68C;
}
#FormulaOneLogo{
    max-width: 300px;
    max-height: auto;
    display: block;
    margin: auto;
}

#DriverHeading{
    font-size: 20px;
    font-weight: bold;
    color: teal;
    text-align:left;
}

.card-img-top {
    height: 25vh;
    object-fit: ;
}
.car-body{
    
}